<div class="container p-5">
  <div class="row">
    <div class="col-lg-12 ml-5 mb-3">
      <h3 class="table-active">注文履歴詳細</h3>
    </div>
    <div class="col-lg-7">
    <h5>注文情報</h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="table-active">注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th class="table-active">配送先</th>
          <td><%= @order.post_code %><br><%= @order.address %><%= @order.name %></td></tr>
        </tr>
        <tr>
          <th class="table-active">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="table-active">ステータス</th>
          <td><%= @order.status_i18n %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-lg-4">
      <h5>請求情報</h5>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">商品合計</th>
          <td><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="table-active">配送料</th></th><td>800円</td>
        </tr>
        <tr>
          <th class="table-active">ご請求額</th><td><%= @order.total_price+800 %>円</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-9">
      <h5>注文内容</h5>
        <table class="table table-bordered">
          <thead>
            <th class="table-active">商品</th>
            <th class="table-active">単価（税込）</th>
            <th class="table-active">個数</th>
            <th class="table-active">小計</th>
          </thead>
          <tbody>
            <tr>
              <% @order.order_details.each do |order_details| %>
              <td><%= order_details.item.name %></td>
              <td><%= order_details.item.add_tax_price.to_s(:delimited) %></td>
              <td><%= order_details.quantity %></td>
              <td><%= (order_details.item.add_tax_price*order_details.quantity).to_s(:delimited) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>