<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <h2>ログイン</h2>
      <p class="title_border">会員の方はこちらからログイン</p>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="field form-item">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-item">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <!--
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      -->

      <div class="actions button-panel">
        <%= f.submit "ログイン", class: 'button' %>
      </div>
    <% end %>

    <p class="pt-3 title_border">会員登録がお済みでない方</p>
    <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>

   </div>
  </div>
</div>

